body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #003D64;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: 0568BF;
  color: 0568BF;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #FD6500;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: F5EA54;
}

.present {
  background-color: #ff6961;
  color: F5EA54;
}

.future {
  background-color: #77dd77;
  color: F5EA54;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: FD6500;
  color: F5EA54;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

th {
  text-align: center;
}

table.table-bordered{
  border:2px solid white;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:2px solid white;
}
table.table-bordered > tbody > tr > td{
  border:2px solid white;
}

#currentDay {
  font-size:50px;
  color: blueviolet;
}
